.header {
  background-color: #7344c0;
  text-align: center;
  color: #ffffff;
  padding: 20px;

  .header-title {
    margin: 0;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
  }
  .header-subtitle {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
  }
}
